/* Global styles
--------------------------------------- */
body {
  margin: 0;
  padding: 0;
  color: #222831;
  background: #EEEEEE;
  position: relative;
}

hr {
  margin: 0;
  margin: 10px 0px;
  width: 3rem;
  border: none;
  border-bottom: 2px solid #00ADB5;
}

.fa-facebook-square, .fa-instagram {
  font-size: 32px;
  color: white;
}

.fa-facebook-square:hover, .fa-instagram:hover {
  color: #00ADB5;
  transition: 0.2s;
}

.greencolor {
  color: #00ADB5;
}

.blackbg {
  background: #222831;
}

.graybg {
  background: #393E46;
}

.CTA {
  background: #00ADB5;
  color: white;
  transition: 200ms ease;
}

.CTA:hover {
  background: white;
  color: #00ADB5;
}

.active {
  color: #00ADB5;
}

/* nav styles
--------------------------------------- */
nav {
  transition: 200ms ease;
}

nav a {
  color: white;
}

nav a:hover {
  color: #00ADB5;
  transition: 200ms ease;
}

.fa-bars {
  color: white;
}

button:focus {
  outline: none;
}

.mobilfrisoer {
  background: #00ADB5;
}

.mobilfrisoer:hover {
  background: white;
  color: #00ADB5;
}

.mobilfrisoerclicked {
  background: white;
}

.mobilfrisoerclicked a {
  color: #00ADB5;
}

.mobilfrisoerColor {
  color: #00ADB5;
}

.logo {
  display: block;
  width: 20%;
}

.logo img {
  width: 100%;
}

/* header styles
--------------------------------------- */

.hero {
  background-image: url(../images/herodark.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .hero {
    background-position: top;
  }
}


/* Om Os styles
--------------------------------------- */
.omsospic {
  width: 100%;
}

/* Åbningstider styles
--------------------------------------- */

.aabningstider {
    background-image: url(../images/scissorsdark.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.aabningstider-table {
  width: 100%;
}

.aabningstider-table hr {
  width: 100%;
}

.aabningstider hr {
  border-bottom: 2px solid #00ADB5;
}

/* Priser styles
--------------------------------------- */

.priser {
  background: #00ADB5;
  color: white;
}

.priser-text {
  background: #F7F7F7;
}

.pricebtn {
  user-select: none;
  cursor: pointer;
}

.priser-container {
  width: 75%;
}


/* Personale styles
--------------------------------------- */

.personale {
  background: #222831;
}

.personale-img {
  width: 50%;
}

.personale-btn {
  color: black;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}

.personale-btn:focus {
  outline: none;
}

.personale-btn:hover {
  color: #393E46;
  transition: 0.2s;
}

.personale-overlay {
  background: #C8C8C8;
  width: 50%;
}

.personale-headline {
  color: #00ADB5;
}

.personale-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  z-index: 1031;
}

.modal-indhold {
  color: white;
  width: 70%;
  margin: 40px auto;
  animation-name: fadein;
  animation-duration: 0.5s;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-img {
  width: 200px;
  display: block;
  margin: auto;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  font-weight: bold;
  font-size: 52px;
  cursor: pointer;
}

.closebtn:hover {
  color: #00ADB5;
  transition: 0.2s;
}

/* Testimonials styles
--------------------------------------- */

.testimonails-img {
  width: 50%;
}


/* video styles
--------------------------------------- */
video {
  width: 90%;
  margin: 0 auto;
  display: block;
}

/* newsletter styles
--------------------------------------- */

.newslettersection {
  background: #393e46;
}

.newsletterimg {
  width: 200px;
  color: white;
}

.newsletterheadline {
  color: #00ADB5;
}

.newsletterbtn {
  color: white;
  background: #00ADB5;
  cursor: pointer;
  font-weight: bold;
}


/* Gallery styles
--------------------------------------- */
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Sociale medier styles
--------------------------------------- */

.social-media {
    background-image: url(../images/socialmedia.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.socialicon {
  font-size: 10rem;
  color: #222831;
}

/* Kontakt styles
--------------------------------------- */

.kontaktsection {
  background: #222831;
}

.contactbtn {
  background: #00ADB5;
  color: white;
}

.contactbtn:hover {
  background: #EEEEEE;
  color: #00ADB5;
  transition: 0.2s;
}

.form {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
  .blog-container {
    width: 90% !important;
  }

  .priser-container {
    width: 100%;
  }
}

/* Footer styles
--------------------------------------- */

footer {
  background: #393E46;
  color: white;
}

.aabningstider-list {
  list-style: none;
  padding: 0;
}

.footer-list {
  list-style: none;
  padding: 0;
}

/* mobilfrisoer
------------------------------------------------------------------------------ */

/* mobil nav styles
--------------------------------------- */
.mobilnav {
  background: #222831;
}

.mobilsectionnav {
  width: 100%;
  background: #393E46;
}

.mobilsectionnav a {
  color: white;
  text-decoration: none;
  transition: 200ms ease;
}

.mobilsectionnav a:hover {
  color: #00ADB5;
}

@media screen and (max-width: 768px) {
  .flexcolumn {
    flex-direction: column;
  }
}

/* mobil header styles
--------------------------------------- */
.mobilhero {
  background-image: url(../images/mobilfrisoerhero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.omkonceptetimg {
  width: 100%;
}

.CTA-above {
  background: #222831;
  width: 30%;
}

@media screen and (max-width: 450px) {
  .mobilheadline {
    padding-top: 30px;
  }
}


/* mobil services styles
--------------------------------------- */

.mobilservices {
  background: #222831;
}

.serviceshr {
  border-bottom: 1px solid white;
  margin-bottom: 16px;
}

.servicespriser {
  color: #00ADB5;
}

@media screen and (max-width: 767px) {
  .flexmd {
    display: flex;
    flex-direction: column-reverse;
  }

  .CTA-above {
    width: 100%;
  }
}

.udfyldform {
  color: #00ADB5;
  transition: 200ms ease;
}

.udfyldform:hover {
  color: white;
}

/* mobil åbningstider styles
--------------------------------------- */

.mobilhours {
  background-image: url(../images/mobilhours.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


/* mobilpersonale styles
--------------------------------------- */
.mobilperimg {
  width: 100%;
}

/* kontakt styles
--------------------------------------- */
.kontakttext {
  color: #00ADB5;
}

.kontakttext:hover {
  color: #393E46;
  transition: 200ms ease;
}

.enperson-radios, .institution-radios, .familie-radios{
  display: none;
}

.mobilbtn {
  background: #00ADB5;
  color: white;
}

.mobilbtn:hover {
  background: #222831;
}

.mobilform {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .mobilform {
    width: 100%;
  }
}

/* blog styles
--------------------------------------- */
.bloghero {
  max-width: 100vw;
  height: 80vh;
  background-image: url(../images/blogbg.png);
}

.blogpage-container img {
  width: 200px;
}

.bloginfo {
  width: 200px;
  height: 150px;
}



/* blogindlæg styles
--------------------------------------- */

.blogpost-hero {
  background-image: url(../images/blogindlæg.png);
  background-size: cover;
  background-position: top;
}

.blogpost-subline {
  font-size: 1.5rem;
  width: 50%;
}

.blog-text {
  width: 60%;
}

@media screen and (max-width: 630px) {
  .blogpost-subline {
    width: 100%;
  }

  .blog-text {
    width: 100%;
  }
}
